<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-12 m-1">
            <div class="card">
                <h5 class="card-header">Quienes Somos</h5>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Mision</h5>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Vision</h5>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>